@import "tailwindcss";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base{

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
